<% include ../partials/header %>

<h5 class=" d-flex justify-content-center" style="padding-top: 1em; padding-bottom: 1em;">
	Add Event
</h5>
<div class=row>
	<form action="/events" class="mx-auto" method="POST">
		<div class="form-group">
			<label>*Must not conatain numbers, special character
			</label>
			<input class="form-control " type="text" name="eName" placeholder="Name" pattern="[A-Z a-z]+"  required>
		</div>
		<div class="form-group">
			<input class="form-control " type="url" name="eImage" placeholder="Image" required>
		</div>
		<label>Date of Event</label>
		<div class="form-group">
			<input class="form-control "  type="date" id="dateControl" name="eDate" placeholder="EventDate"required>
		</div>
		<div class="form-group">
			<input class="form-control " type="text" name="eVenue" placeholder="Venue" pattern="[A-Z a-z]+" required>
		</div>
		<div class="form-group">
			<label>Enter(0) for free events</label>
			<input class="form-control " type="number" min="0" maxlength="10000" name="eFee" placeholder="Fee" required>
		</div>
		<div class="form-group">
			<input class="fadeIn Fourth" type="submit" style="margin-left: 10em;">
		</div>
	</form>
</div>
<a href="/events">Go Back </a>
<% include ../partials/footer %>