<% include partials/header %>


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://brandeps.com/icon-download/U/User-icon-vector-01.svg" class="circular--square" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/login" method="POST">
      <input type="text" pattern="[A-Za-z0-9]+" minlength="8" id="login" class="fadeIn second" name="username" placeholder="login">
      <input type="password" id="password" minlength="8" class="fadeIn third" name="password" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/register">SIGNUP</a>
	</div>
  </div>
</div>



