<% include partials/header %>

	<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://brandeps.com/icon-download/U/User-icon-vector-01.svg" class="circular--square" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/register" method="POST">
      <input type="text"  minlength="8" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
      title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" id="login" class="fadeIn second" name="username" placeholder="login">
	  <input type="text" id="password" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" minlength="8" class="fadeIn third" name="password" placeholder="password">
	  <div class="radio">
			<label><input type="checkbox" name="Role" id="Rectuiter">Club Admin </label>
		  </div>
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

    <!-- Remind Passowrd -->
  </div>
</div>
<% include partials/footer %>
