html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;    
    background-color: #f9f8fd; 
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
    padding-bottom: 20%;
}
