<% include ../partials/header %>

<h5 class=" d-flex justify-content-center" style="padding-top: 1em;">
	Register for Club
</h5>
<div class=row>
	<form action="/register/club" class="mx-auto" method="POST">
		<div class="form-group">
			<label>*Must not conatain numbers, special character
			</label>
			<input class="form-control " type="text" pattern="[a-z A-Z]+" maxlength="20" name="cName" placeholder="Club Name" required>
		</div>
		<label>*Must not conatain numbers, special character
		</label>
		<div class="form-group">
			<input class="form-control " type="text" maxlength="20" pattern="[A-Z a-z]+" name="cPres" placeholder="Club President" required>
		</div>
		<div class="form-group">
			<input class="form-control " type="text" name="cInsta" placeholder="Club Insta" required>
		</div>
		
        <div class="form-group">
			<input class="form-control " type="text" name="cFb" placeholder="Club Fb" required>
		</div>
		
        <div class="form-group">
			<input class="form-control " type="number" name="cYear" placeholder="Start Year" required>
		</div>
		<div class="form-group">
			<input class="FadeIn Fourth" style="margin-left: 20em;" type="submit">
		</div>
	</form>
</div>


<% include ../partials/footer %>